.container {
    width: 600px;
    margin: 20px auto;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 2;
}

.hover-hand {
    color: green;
}

.hover-hand:hover {
    cursor: pointer;
}