footer {
  a {
    text-decoration: none;
    color: #333;
  }
  .social-icon {
    display: inline-flex;
    background-color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #ddd;
    margin-right: 0.25rem;
    color: #333;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    &:hover {
      color: rgb(97, 97, 207);
    }
  }
  .subscribe-group {
    margin-top: 1rem;
    .form-control {
      border: 1px solid #fff;
      padding: 0.5rem;
      &:hover,
      &:focus {
        outline: 0px !important;
        -webkit-appearance: none;
        box-shadow: none !important;
      }
    }
    button {
      background-image: linear-gradient(90deg, #8b62ff, 0, #3b1bff);
      color: #fff;
    }
  }
}
