// Bootstrap Custom Changes

// Import Bootstrap sass files
@import "../node_modules/bootstrap/scss/bootstrap";
@import "./nav/navbar.scss";
@import "./footer/footer.scss";
@import "./hero/hero.scss";
// custom codes
.extra-margin {
  margin-top: 80px;
}
