* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container {
	width: 80%;
	margin: 20px auto;
}
h1 {
	text-align: center;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	margin-bottom: 2rem;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	display: inline-block;
}
.grid-wrapper {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-auto-rows: 200px;
	grid-auto-flow: dense;
}

.grid-wrapper .wide {
	grid-column: span 2;
}

.grid-wrapper .tall {
	grid-row: span 2;
}
.grid-wrapper .big {
	grid-column: span 2;
	grid-row: span 2;
}

.grid-wrapper > div {
	display: flex;
	justify-content: center;
	align-items: center;
}

.grid-wrapper > div > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 5px;
}
.grid-wrapper > div:hover img {
	opacity: 0.5;
}
