* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 700px;
  min-height: 300px;
  margin: 2rem auto;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  /* overflow: hidden; */
}
/*heading start*/
.heading {
  width: 100%;
  background-color: #333;
  padding: 1rem;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.heading h1 {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
}
/*heading end*/

/*form start*/
.form-section {
  width: 100%;
  padding: 1rem 2rem;
}

.inline-form {
  margin-top: 1rem;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
}
.form-group {
  width: 100%;
  margin-bottom: 2rem;
}
.form-group > label {
  display: block;
  font-size: 18px;
  color: #333;
}
.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"],
.form-group input[type="password"],
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 0.5rem;
  outline: none;
  border: 1px solid #ddd;
  margin-top: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
}
.radio-inline-group {
  display: flex;
}
.radio-inline {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-top: 0.5rem;
  margin-right: 2rem;
}
.bio textarea {
  height: 120px;
  resize: none;
}
.btn {
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: uppercase;
}
.btn:hover {
  cursor: pointer;
}
.btn-reset {
  border: 2px solid red;
  border-radius: 0.25rem;
  color: red;
}
.btn-submit {
  background-color: #000;
  color: #fff;
  border: 2px solid #000;
  border-radius: 0.25rem;
}
/*form end*/
